#app {
  position: relative;
  display: flex;
  width: 300px;
}

h4 {
  border-bottom: 1px solid #999;
  font: 12px Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  color: #999;
  cursor: pointer;
}

h4:hover {
  color: black;
}

/* ========================================== Related Tracks Sections ===================================== */

.relatedHeader {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 40px;
  grid-template-areas: "related viewAllRelated";
  align-items: end;
}

.related {
  grid-area: related;
}

.viewAllRelated {
  grid-area: viewAllRelated;
  justify-self: right;
}

.songGrid {
  /* grid-area: songGrid; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 18px 18px 18px 18px;
  column-gap: 10px;
  grid-template-areas:
  "picture artist artist artist artist artist"
  "picture title title title title title"
  "picture plays likes reposts comments ."
  ". . . . . .";
}

.songImg {
  width: 50px;
  height: 50px;
  grid-area: picture;
  align-self: center;
  z-index: 2;
  cursor: pointer;
}

.songImg:hover {
  width: 60px;
  height: 60px;
}

.behindPic {
  width: 50px;
  height: 50px;
  background-color: #999;
  grid-area: picture;
  align-self: center;
  transform: rotateZ(10deg);
  opacity: 0.3;
  z-index: 1;
}

.behindPicOne {
  width: 50px;
  height: 50px;
  background-color: #999;
  grid-area: picture;
  align-self: center;
  transform: rotateZ(80deg);
  opacity: 0.3;
}

.artist {
  grid-area: artist;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  color: #999;
  font-size: 14px;
  cursor: pointer;
}

.artist:hover {
  color: black;
}

.songTitle {
  grid-area: title;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.statsPlays {
  grid-area: plays;
  justify-self: center;
}

.statsLikes {
  grid-area: likes;
  justify-self: center;
}

.statsReposts {
  grid-area: reposts;
  justify-self: center;
}

.statsComments {
  grid-area: comments;
  justify-self: center;
}

.songStats {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #999;
}

/* ==================================== User Images ======================================= */

.userImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 2px;
  cursor: pointer;
}

.userImg:hover {
  width: 40px;
  height: 40px;
}

/* ====================================== Likes Section ==================================== */

.likersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10px 40px 40px 15px;
  grid-template-areas:
  ". . ."
  "likesHeader likesHeader viewAllLikers"
  "likesImages likesImages likesImages"
  ". . .";
}

.likesHeader {
  grid-area: likesHeader;
  align-self: end;
}

.viewAllLikers {
  grid-area: viewAllLikers;
  align-self: end;
  justify-self: right;
}

.likers {
  grid-area: likesImages;
}

/* ====================================== Reposts Section ==================================== */

.repostersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 40px 50px 10px;
  grid-template-areas:
  "repostsHeader repostsHeader viewAllReposters"
  "repostsImages repostsImages repostsImages"
  ". . .";
}

.repostsHeader {
  grid-area: repostsHeader;
  align-self: end;
}

.viewAllReposters {
  grid-area: viewAllReposters;
  justify-self: right;
  align-self: end;
}

.reposters {
  grid-area: repostsImages;
}

/* ====================================== Related Tracks Popup Modal =============================== */

.modal {
  display: inline-block;
  left: 50%;
  right: 50%;
  top: 10%;
  position: fixed;
  width: 350px;
  height: 100%;
  z-index: 100;
  box-shadow: 5px 5px 5px 5px #999;
  justify-content: center;
  background-image: linear-gradient(to right, rgb(226, 199, 252), rgb(255, 109, 109));
  transition: 0.5s;
}

.relatedHeaderModal {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 1fr;
  grid-template-rows: 40px;
  grid-template-areas: ". related viewAllRelated .";
  align-items: end;
}

.songGridModal {
  display: grid;
  width: 300px;
  left: 50%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 18px 18px 18px 18px;
  column-gap: 10px;
  grid-template-areas:
  ". picture artist artist artist artist artist"
  ". picture title title title title title"
  ". picture plays likes reposts comments ."
  ". . . . . . .";
}

.close {
  background-color: white;

}